.box1{
    height: 200px;
    width: 200px;
    text-align: center;
    font-size: 28px;
    box-shadow: 3px 3px 5px black;
}
.box2{
    height: 100px;
    width: 100px;
    text-align: center;
    font-size: 26px;
    text-shadow: 9px 4px 2px black;
}
.box3{
    height: 100px;
    width: 180px;
    text-align: center;
    background-color: gold;
    transition-property: transform;
    transition-duration: 2s;
}
.box3:hover{
    background-color: brown;
    transform: rotate(360deg);
}
.box4{
    height: 50px;
    width: 50px;
    background-color: deeppink;
    position: absolute;
    top: 0px;
    left: 250px;
    transition-property: position;
}
.box4:hover{
    position: absolute;
    top: 500px;
}
.box5{
    height: 100px;
    width: 100px;
    background-color: blueviolet;
    transition-property: width;
    transition-delay: 2s;
}
.box5:hover{
    width: 400px;
}